.search_form {position: relative;  }

.autocomplete {position: absolute;
left: 0;
top: 40px;
width: 100%;
background: white;    border-radius: 0.375rem;
padding: 0px;
list-style-type: none;
max-height: 150px;
z-index: 111;
height: auto;
overflow: auto;
}
.autocomplete_item {padding: 10px
    ;}
    .autocomplete_item:hover {background:#0d6efd;
    cursor: pointer;
    transition: 0.3s;color:white
    }
    .displayfilternone {display: none;}